.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }

.button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 10px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }

  .formInput {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 10px;
  }

  .form {
    position: relative;
    border-radius: 10px;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .formInputCal {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 10px;
  }
  .buttonCal {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
}

.buttonCal:hover,.form button:active,.form button:focus {
    background: #43A047;
  }



.formCalLeft {
    position: relative;
    
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 45px;
    text-align: left;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .formCalRight {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 1;
    background: #FFFFFF;
    margin-right: 0px;
    max-width: 660px;
    padding: 45px;
    text-align: left;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  body {
    
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }

  .formInputCalRight {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 50%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 10px;
  }

  .chartjs-render-monitor {
    margin:10px;
    display: block; 
    height: 350px; 
    width: 295px;
  }

  .dropbtn {
    background-color: #f2f2f2;
    // color: white;
    padding: 13px;
    font-size: 16px;
    border-color: #f2f2f2;
    width: 100%;
    text-align:center;
    cursor: pointer;
    border-radius: 10px;
  }

  .charContainer {
    display: grid;
    grid-template-columns: 2fr 4fr;  //auto-fill??
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 1 1 1; */  
   }

   .optionalSeclection {
    margin:5px
   }